snippet ff
	(${1})=>
		${2}
snippet f
	(${1})->
		${2}
snippet cte
	console.timeEnd ${1}
snippet ct
	console.time ${1}
snippet ce
	console.error ${1}
snippet cl
	console.log ${1}
snippet l
	log ${1}
snippet li
	log.info logFrom, '${1}'
snippet lw
	log.warn logFrom, '${1}'
snippet le
	log.error logFrom, '${1}'

